* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

main {
    background-color: hsl(0, 0%, 12%);
    height: 550px;
    width: 300px;
    border-radius: 2%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    
    
}

.div-img {
    display: flex;
    text-align: center;
    margin-left: 35%;
    
}

h1 {
    color: white;
    text-align: center;
    margin: 15px;
}

.location {
    color: hsl(75, 94%, 57%);
    text-align: center;
    margin: 15px;
}

p {
    color: hsl(0, 0%, 100%);
    margin: 15px;
}

nav a{
    display: flex;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 93%;
    margin: 0;
    margin-top: 15px;
    padding: 10px;
    padding-top:12px ;
    font-weight: bold;
    
}
a:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}



li {
    list-style-type: none;
    padding: 15px;
    
}

ul li a {
    display: flex;
    float: left;
    text-decoration: center;
    border-radius: 3px;
    font-size: 15px;
}

@media (max-width: 375px) {
    main {
        max-width: 100%;
        padding: 0 15px;
    }

    main {
        margin: 0;
    }
}

@media (min-width: 376px) and (max-width: 1440px) {
    main {
        max-width: 375px;
    }
}